.find{
    display: flex;
    gap: 20px;
    width: 30%;
}
.find_el{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media screen and (max-width: 600px) and (min-width: 300px){
    .find{
        width: 100%;
        flex-direction: column;
    }
    .find_el{
        width: 100%;
    }
}