.pet__card{
    padding: 30px;
    transition: 0.3s;
    width: 20%;
    cursor: pointer;
}
.pet__card:hover{
    transform: scale(1.025);
    transition: 0.3s;
}
.pet__card__footer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
.card__image{
    width: 100%;
    border-radius: 16px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.tags_change{
    display: flex;
    justify-content: space-between;
}