*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.placehold{
  width: 100%;
  min-height: 50vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) and (min-width: 200px){
  .placehold{
    text-align: center;
  }
}